body {
  background-color: #FFE7BA;
  font-family: 'Noto Sans JP', sans-serif;
  letter-spacing: 0.05em;
  cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🧀</text></svg>") 16 0,auto;
  --red-color: #F20505;
  --yellow-color: #FFDB38;
}

.visuallyhidden {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
  clip-path: inset(0px 0px 99.9% 99.9%);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
}

.pc-br { display: inline; }
.sp-br { display: none; }
@media screen and (max-width: 800px) {
  .pc-br { display: none; }
  .sp-br { display: inline; }
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.header .inner {
  width: calc(100% - 60px);
  max-width: 1080px;
  margin: auto;
  padding: 20px 0;
  display: flex;
  align-items: center;
}

.header .menu-list {
  display: flex;
  gap: 0 25px;
  margin-left: 40px;
}

.header .menu-list .item {
  text-decoration: none;
  font-size: 13px;
  color: var(--red-color);
  font-weight: bold;
}

.footer {
  padding: 20px 0;
  background-color: var(--red-color);
}

.footer .container {
  width: calc(100% - 20px);
  max-width: 1030px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
} 

.footer .logo-wrap {
  display: flex;
  align-items: center;
  gap: 10px 20px;
}

.footer .link-list {
  display: flex;
  align-items: center;
  gap: 5px 20px ;
}

.footer .link {
  font-size: 13px;
  font-weight: bold;
  line-height: 1;
  text-decoration: none;
  color: #FFE7BA;
}

.footer .copyright {
  font-size: 11px;
  font-weight: bold;
  color: #FFE7BA;
}



.hero {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.hero .circle-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 400px;
  position: absolute;
  top: 240px;
  right: 250px;
}

.hero .circle-box .text-circle {
  animation: rotate-anim 6s linear infinite;
}

@keyframes rotate-anim {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hero .circle-box .text-path {
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0.15em;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: bold;
  fill: var(--red-color);
  animation: rotate-anim 6s linear infinite;
}

.hero .circle-box .cheese {
  font-size: 100px;
  line-height: 1;
  position: absolute;
}

.hero .cloud01 {
  position: absolute;
  top: -74px;
  left: -64px;
}

.hero .cloud02 {
  position: absolute;
  bottom: 0;
  right: -40px;
}

.hero .catch {
  position: absolute;
  bottom: 45px;
  left: 80px;
}


.outline {
  position: relative;
  overflow: hidden;
  padding: 100px 0 180px;
}

.outline .container {
  width: calc(100% - 20px);
  max-width: 1030px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px 30px;
}

.outline .text-body {
  flex: 1;
  color: var(--red-color);
}

.outline .text-body .title {
  font-size: 36px;
  line-height: 1;
  font-weight: bold;
}

.outline .text-body .text {
  font-size: 16px;
  font-weight: bold;
  line-height: 2;
  letter-spacing: 0.05em;
  margin-top: 10px;
}

.outline .img-body {
  flex: 1;
  color: var(--yellow-color);
}

.outline .img-body .title {
  font-size: 120px;
  font-weight: bold;
  line-height: 1;
}

.outline .img-body .img {
  width: 100%;
  margin-top: -60px;
}

@media screen and (max-width: 800px) {
  .outline .container {
    flex-direction: column-reverse;

  }

  .outline .img-body .title {
    font-size: 80px;
  }

}

.outline .line-set .line1,
.outline .line-set .line2 {
  height: 101.58px;
  min-height: 102px;
  position: absolute;
  bottom: -1px;
  right: 0px;
  z-index: 1;
  padding: 1px 10px 1px 0;
}

.line-set .line1 {
  animation: slide-top1 40s linear infinite;
}

.line-set .line2 {
  animation: slide-top2 40s linear infinite;
}

@keyframes slide-top1 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes slide-top2 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.course {
  padding: 80px 0 100px;
  color: var(--red-color);
}

.course .container {
  width: calc(100% - 20px);
  max-width: 910px;
  margin: auto;
}

.course .sec-title {
  font-size: 120px;
  line-height: 1;
  font-weight: bold;
  color: var(--yellow-color);
}

.course .sub-title {
  font-size: 36px;
  line-height: 1;
  font-weight: bold;
  margin-top: -42px;
}

.course .lead {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.375;
  margin-top: 15px;
}

.course .course-list {
  display: flex;
  flex-direction: column;
  gap: 80px 0;
  margin: 75px 0 0;
}

.course .tile {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 30px;
}

.course .tile:nth-child(odd) {
flex-direction: row-reverse;
}

.course .tile .num-set {
  font-size: 40px;
  font-weight: bold;
  line-height: 1;
}

.course .tile .num-set .num {
  margin-left: 10px;
}

.course .tile .title {
  font-size: 22px;
  line-height: 1;
  font-weight: bold;
  margin-top: 10px;
}

.course .tile .text {
  font-size: 16px;
  line-height: 1.5;
  margin-top: 15px;
}

@media screen and (max-width: 800px) {
  
}

.news {
  width: calc(100% - 20px);
  max-width: 910px;
  margin: auto;
}

.news .sec-title {
  font-size: 100px;
  font-weight: bold;
  line-height: 1;
  color: var(--yellow-color);
}

.news .container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 0 50px;
  margin-top: -40px;
}

.news .img {
  margin-top: 30px;
}

.news .sub-title {
  font-size: 36px;
  font-weight: bold;
  line-height: 1;
  color: var(--red-color);
}

.news .news-list-wrap {
  flex: 1;
}

.news .news-list {
  display: flex;
  flex-direction: column;
  gap: 20px 0;
  margin-top: 20px;
}

.news .news-item {
  display: flex;
  align-items: center;
  padding: 20px calc((50 / 430) * 100% + 20px) 24px 22px;
  border: solid 1px var(--red-color);
  border-radius: 12px;
  position: relative;
  transition: background-color .2s ease;
}

.news .news-item .date-list {
  display: flex;
  align-items: center;
  line-height: 1;
  color: var(--red-color);
} 

.news .news-item .date {
  font-size: 13px;
  font-weight: bold;
  line-height: 1;
}

.news .news-item .new-tag {
  font-size: 11px;
  font-weight: bold;
  padding: 2px 4px 3px;
  margin-left: 15px;
  border-radius: 4px;
  color: #FFE7BA;
  background-color: var(--red-color);
}

.news .news-item .title {
  font-size: 15px;
  font-weight: bold;
  line-height: 1;
  color: var(--red-color);
  margin-top: 6px;
}

.news .news-item .icon {
  width: 20px;
  height: 20px;
  position: absolute;
  right: calc((50 / 430) * 100%);
}

.news .news-item:hover {
  background-color: var(--red-color);
}

.news .news-item:hover .date {
  color: #FFE7BA;
}

.news .news-item:hover .new-tag {
  background-color: #FFE7BA;
  color: var(--red-color);
}

.news .news-item:hover .title {
  color: #FFE7BA;
}

.news .more-btn {
  width: 200px;
  height: 50px;
  margin: 40px auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  line-height: 1;
  text-decoration: none;
  color: var(--red-color);
  border: solid 1px var(--red-color);
  border-radius: 10px;
  transition: color .2s ease,
  background-color .2s ease;
}

.news .more-btn:hover {
  color: #FFE7BA;
  background-color: var(--red-color);
}



.access {
  padding: 80px 0 200px;
  overflow: hidden;
  position: relative;
}

.access .container {
  width: calc(100% - 20px);
  max-width: 910px;
  margin: -20px auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 30px;
}

.access .sec-title {
  width: calc(100% - 20px);
  max-width: 910px;
  margin: auto;
  font-size: 100px;
  font-weight: bold;
  text-align: right;
  line-height: 1;
  color: var(--yellow-color);
}

.access .map {
  width: 50%;
  max-width: 450px;
}

.access .company-info {
  color: var(--red-color);
}

.access .company-info .sub-title {
  font-size: 36px;
  font-weight: bold;
  line-height: 1;
}

.access .company-info .info-list {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  gap: 20px 0;
}

.access .company-info .info-item {
  display: flex;
  align-items: center;
}

.access .company-info .info-item .name {
  font-size: 16px;
  font-weight: bold;
  line-height: 1;
  width: 100px;
  white-space: nowrap;
  margin-right: 20px;
}

.access .company-info .info-item .details {
  font-size: 13px;
  font-weight: bold;
  line-height: 1;
}

.access .line-set .line1,
.access .line-set .line2 {
  height: 101.58px;
  min-height: 102px;
  position: absolute;
  bottom: -1px;
  right: 0px;
  z-index: 1;
  padding: 1px 10px 1px 0;
}

.contact {
  padding: 100px 0 160px;
}

.contact .container {
  width: calc(100% - 20px);
  max-width: 1030px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 30px 20px;
}

.contact .lead-wrap {
  color: var(--red-color);
  flex: 1;
  width: 50%;
}

.contact .sec-title {
  font-size: 100px;
  font-weight: bold;
  line-height: 1;
  color: var(--yellow-color);
}

.contact .sub-title {
  font-size: 36px;
  font-weight: bold;
  line-height: 1;
  margin-top: -42px;
}

.contact .lead {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.5;
  margin-top: 20px;
}

.contact .lead .small {
  display: inline-block;
  font-size: 11px;
  font-weight: normal;
}

.contact .img {
  margin-top: 50px;
  width: 100%;
}

.contact .form-wrap {
  flex: 1;
  margin-top: 115px;
}

.contact .form {
  width: 100%;
  max-width: 390px;
  margin: auto;
  color: var(--red-color);
}

.contact .input-set-list {
  display: flex;
  flex-direction: column;
  gap: 30px 0;
}

.contact .label {
  display: block;
  font-size: 14px;
  font-weight: bold;
  line-height: 1;
  margin-bottom: 5px;
}

.contact .input {
  width: 100%;
  height: 50px;
  padding: 0 10px;
  appearance: none;
  background-color: rgba(255, 255, 255, .3);
  border: solid 1px var(--red-color);
  border-radius: 5px;
  font-size: 12px;
  color: var(--red-color);
}

.contact .input:focus-visible {
  border: solid 3px var(--red-color);
  outline: none;
}

.contact .checkbox-list {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 10px 0;
  margin-top: 10px;
}

.contact .checkbox-wrap {
  display: flex;
  align-items: center;
  gap: 0 8px;
}

.contact .checkbox {
  appearance: none;
  width: 24px;
  height: 24px;
  border: solid 1px var(--red-color);
  border-radius: 5px;
  background-color: rgba(255, 255, 255, .3);
  margin: 0;
}

.contact .checkbox:checked {
  background-color: var(--red-color);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

.contact .checkbox:checked::before {
  content: "🧀";
  font-size: 14px;
  line-height: 1;
}

.contact .checkbox-text {
  font-size: 12px;
  line-height: 1;
}

.contact .textarea {
  appearance: none;
  width: 100%;
  height: 80px;
  padding: 10px;
  border: solid 1px var(--red-color);
  border-radius: 5px;
  background-color: rgba(255, 255, 255, .3);
  font-size: 12px;
  color: var(--red-color);
}

.contact .textarea:focus-visible {
  border: solid 3px var(--red-color);
  outline: none;
}

.contact .submit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  margin: 40px auto 0;
  font-size: 16px;
  font-weight: bold;
  line-height: 1;
  color: var(--red-color);
  background-color: transparent;
  border: solid 1px var(--red-color);
  border-radius: 10px;
  transition: color .2s ease,
  background-color .2s ease;
}

.contact .submit:hover {
  background-color: var(--red-color);
  color: #FFE7BA;
}






